ul.sortable li {
	position: relative;
}

ul.boxy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	/* width: 10em; */
	font-size: 1em;
	font-family: verdana, sans-serif;
        color: black;
}
ul.boxy li {
	cursor:move;
	padding: 4px 4px;
	border: 1px solid #ccc;
	background-color: #eee;
}
.clickable a {
	display: block;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}
.clickable li:hover {
	background-color: #f6f6f6;
}
