/* A CSS Framework by Mike Stenhouse of Content with Style */

/* NAV */
	div#nav {
        font-size: 1em;
        border-style: none; /*none/dotted*/
        border-width: 1px;
        background-image: url("../images/leftmenubg.gif");
        background-position: top;
        background-repeat: repeat-y;
        background-color: black;
    }
    * html div#nav {
        /* hide ie/mac \*/
        height: 1%;
        /* end hide */
    }
    div#nav div.wrapper {
        width: 100%;
    }
    div#nav ul {
        width: auto; 
        width: 100%;
                
        margin: 0;
        padding: 0;
        
        line-height: 1em;
        list-style: none;
    }
    div#nav li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    * html div#nav li {
        /* hide ie/mac \*/
        height: 1%;
        /* end hide */
    }
    div#nav li.last {
        
    }
    div#nav a,
    div#nav a:link,
    div#nav a:active,
    div#nav a:visited {
        display: block;
        text-decoration: none;        
        padding: 5px 10px 5px 10px;
        color: #7B9CC8;
    }
    div#nav a:hover {   
        color: red;
    }
    div#nav strong {
        display: block;
        text-align: center;
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0 0 0 0;
        height: 19px;
        padding: 5px;
        color: white;
        background-image: url("../images/leftmenutop.gif");
        background-position: top;
        background-color: black;
    }
    div#nav strong a,
    div#nav strong a:link,
    div#nav strong a:active,
    div#nav strong a:visited,
    div#nav strong a:hover {
       color: white;
       background-color: black;
    }
/* END NAV */