/* A CSS Framework by Mike Stenhouse of Content with Style */

/* TYPOGRAPHY */
	body {
		text-align: left;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 11px;
		line-height: 1em;
		/*color: #333;*/

		background-image: url("../images/bg.gif");
		background-repeat: repeat;

	}
	div {
		font-size: 1em;
	}
	img {
                /*behavior: url(".pngbehavior.htc");*/
		border: 0;
	}
	
        img.png {
            background-image: expression(
                this.runtimeStyle.backgroundImage = "none",
                this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
                this.src = "./images/blank.gif"
            );
        }
        
/* LINKS */
	a,
	a:link 
	a:active {
		text-decoration: none;
		color: #7B9CC8;
		background-color: transparent;
	}
	a:visited {
		color: #7B9CC8;
		background-color: transparent;
	}
	a:hover {
        	color: Red;
        	background-color: transparent;
		text-decoration: none;
	}
/* END LINKS */
	
/* HEADINGS */
	h1 {
		font-size: 1.3em;
		line-height: 1.5em;
		margin: 0 0 0.2em 0;
		padding: 0;
		/*color: grey;*/
	}
	h2 {
		font-size: 1.2em;
		line-height: 1.5em;
		margin: 0 0 0.1em 0;
		padding: 0;
		/*color: grey;*/
	}
	h3 {
		font-size: 1.1em;
		line-height: 1.3em;
		margin: 0 0 0.1em 0;
		padding:0;
		/*color: grey;*/
	}
	h4 {
		font-size: 1em;
		line-height: 1.3em;
		margin: 0 0 0.1em 0;
		padding: 0;
		/*color: grey;*/
	}
	h5 {
		font-size: 1em;
		line-height: 1.3em;
		margin: 0 0 0.1em 0;
		padding: 0;
		color: grey;
	}
	h6 {
		font-size: 1em;
		line-height: 1.3em;
		margin: 0 0 0.1em 0;
		padding: 0;
		/*color: grey;*/
	}
/* END HEADINGS */

/* TEXT */
	p {
		font-size: 1em;
		margin: 0 0 1.5em 0;
		padding: 0;
		line-height:1.4em;
	}
        p.centered {
                border-style: none; /*none/dotted*/
                border-width: 2px;
                border-color: red;
        	width: 500px;
        	margin-left: auto;
        	margin-right: auto;
        }
	blockquote {
		border-left:10px solid #ddd;
		margin-left:10px;
	}
	pre {
		font-family: monospace;
		font-size: 1.0em;
	}
	strong, b {
		font-weight: bold;
	}
	em, i {
		font-style:italic;
	}
	code {
		font-family: "Courier New", Courier, monospace;
		font-size: 1em;
		white-space: pre;
    }
/* END TEXT */
	
/* LISTS */
	ul {
		line-height:1.4em;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	ul li {
		margin: 0 0 0.25em 30px;
		padding: 0;
	}
	ol {
		font-size: 1.0em;
		line-height: 1.4em;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	ol li {
		font-size: 1.0em;
		margin: 0 0 0.25em 30px;
		padding: 0;
	}
	dl {
		margin: 0 0 1.5em 0;
		padding: 0;
		line-height: 1.4em;
	}
	dl dt {
		font-weight: bold;
		margin: 0.25em 0 0.25em 0;
		padding: 0;
	}
	dl dd {
		margin: 0 0 0 30px;
		padding: 0;
	}
/* END LISTS */
	
	
/* TABLE */


/* END TABLE */	
	
	hr {
		/* display: none;*/
	}
	div.hr {
		height: 1px;
		margin: 1.5em 10px;
		border-bottom: 1px dotted grey;
	}
	
        .news {
            border-style: solid;
            border-width: 1px;
            padding: 2px;

            /* Mozilla ignores crazy MS image filters, so it will skip the following */
            filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../images/transparent.png');
        }
        .news[class] {
            background-image:url(../images/transparent.png);
        }

        .news h2{
            display: block;
            text-align: center;
	    font-size: 1.0em;
	    margin: 0 0 0 0;
            height: 19px;
            padding: 4px;
            color: white;
            background-image: url("../images/back.gif");
            background-position: top;
            background-repeat: repeat-x;
            background-color: black;
        }

/* for Internet Explorer
 - opacity needs height or width
 - trick: specify height <=> specify min-height 
*/
/*\*/
* html .news {
            height: 10px;
        }
/**/

        #matchresult {
        	/*
        	border: 1px solid black;
        	background-color : red;
        	*/       	
        }
        #matchresult td {
        	height: 24px;
        	margin: 0px;
        	padding: 0px 1em;
        	font-family:verdana;
        	font-size:1.0em
        }
        #matchresultlist { margin-top: -2px; }
        #matchresultlist li { margin-top: 2px; }
        
        .inspector {
        	font-family:verdana;
        	font-size: 1em;
        }
	
	
/* END TYPOGRAPHY */	