.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font-size:		1em;
	cursor:			Default;
	display:		inline;
	margin:			1px -2px 1px 2px;
	float:			left;
	padding:		2px 5px 3px 5px;
	background:		ThreeDFace;
	border:			1px solid;
	border-color:	ThreeDHighlight ThreeDDarkShadow
					ThreeDDarkShadow ThreeDHighlight;
	border-bottom:	0;
	z-index:		1;
	position:		relative;
	top:			0;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	border-bottom:	0;
	z-index:		3;
	padding:		2px 6px 5px 7px;
	margin:			1px -3px -2px 0px;
	top:			-2px;
}

.dynamic-tab-pane-control .tab-row .tab a {
	font-size:		1em;
	color:				WindowText;
	text-decoration:	none;
	cursor:				default;
}

.dynamic-tab-pane-control .tab-row .hover a {
	color:	blue;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid;
	border-color:	ThreeDHighlight ThreeDDarkShadow
					ThreeDDarkShadow ThreeDHighlight;
	background:		ThreeDFace;
	z-index:		2;
	position:		relative;
	top:			-2px;
	color:			WindowText;
	font-size:		1em;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}

/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 0 0 0; 
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-size:100%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:2px 6px 2px 2px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}
/* SIMPLE */

.buttons a.simple, button.simple{
    background-color:transparent;
    border:0px;
    padding:0px 0px 0px 0px;
}
