/*
td.type1Header
{ 
   border-bottom: 2px solid #6699CC;
   border-left: 1px solid #6699CC;
   background-color: #BEC8D1; 
   text-align: left;
   text-indent: 5px;
   font-family: Verdana;
   font-size: 1em;
   color: #404040; 
}

td.type1Body
{ 
   border-bottom: 1px solid #9CF;
   border-top: 0px;
   border-left: 1px solid #9CF;
   border-right: 0px;
   text-align: center;
   background-color: white;
   color: #404040;
}
td.type1Body2
{ 
   border-bottom: 1px solid #9CF;
   border-top: 0px;
   border-left: 1px solid #9CF;
   border-right: 0px;
   text-align: center;
   background-color: antiquewhite;
   color: #404040; 
}

td.highlight
{
   border-bottom: 1px solid #9CF;
   border-top: 0px;
   border-left: 1px solid #9CF;
   border-right: 0px;
   text-align: center;
   background-color: pink;
   color: #404040; 
}


tr.highlight
{
   background-color: pink;
}

table.type1
{ 
   text-align: center;
   font-family: Verdana;
   font-size: 0.8em;
   color: #404040;
   background-color: #fafafa;
   border: 1px #6699CC solid;
   border-collapse: collapse;
   border-spacing: 0px;
}
*/